.menu {
  color: #1D1F21;
  background-color: #ffffff;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding-bottom: 30px;
  
  ul {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
  }
  li {
    font-size: 18px;
    text-align: center;
  }
}