.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    
  .pageAnchors {
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    
    li {
      margin: 5px;
    }
  }
}